.landing {
  height: 100vh;
  width: 100vw;
  background-image: url(../img-full/landing.jpg);
  background-position: top;
  background-size: cover;
  z-index: -1;
}

.welcome {
  color: white;
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  align-items: center;
  h1 {
    font-size: $LandingH1;
    font-weight: 400;
    margin-top: 15rem;
    z-index: 1;
    white-space: nowrap;
  }
  h5 {
    margin-top: -1rem;
  }
  a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    margin-top: 20%;
    align-self: center;
    background: white;
    border-radius: 3px;
  }
  h4 {
    font-size: 3rem;
    font-weight: 400;
    // border: 2px solid rgba($color: #ffffff, $alpha: 0.5);
    width: 15rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px;
  }
  hr {
    border-top: 2px solid white;
    width: 60rem;
    margin-top: -2rem;
    z-index: 0;
  }
  a:hover,
  h4:hover {
    background: rgb(66, 66, 66);
    color: white;
    // border-color: rgba($color: #ffffff, $alpha: 0.2);
  }
}

// Media Queries

@media screen and (max-width: 860px) {
  .landing {
    background-image: url(../img-full/landing-mobile.jpg);
  }

  .welcome {
    width: 90%;
    margin: auto;
  }

  .welcome h1 {
    font-size: 6.7rem;
  }
}
